table,th,td{
    width: 250px;
    border: 5px solid black;
    border-collapse: collapse;

   
}

td{
    text-align: center ;
    padding: 25px;
}
th{
    background-color: rgb(77, 45, 6);
    color: white;
}
tr:nth-child(odd){
    background-color: yellowgreen;
}
tr:nth-child(even){
    background-color: yellowgreen;
}


.tr1:hover{
    background-color: cornflowerblue;
}
.tr2:hover{
    background-color: greenyellow;
}
.tr3:hover{
    background-color: bisque;
}.tr:hover{
    background-color: red;
}

    
